@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    SimplyCooking<br />
    Orląt Lwowskich 51/5<br />
    45-371<br />
    <br title="Numer kontaktowy">Tel:
    425.555.010
</address>



<address>
    <strong>E-mail:</strong>   <a href="simplycooking@gmail.com">simplycooking@gmail.com</a><br />
</address>