<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container" style="font-weight: bold;">
        <h1>Kontakt</h1>
    </div>

    <p class="bg-my">


        SimplyCooking<br />
        Orląt Lwowskich 51/5<br />
        45-371 Opole<br />
        <br title="Numer kontaktowy">Tel:
        0 731230231231 <br />


        <span class="glyphicon glyphicon-envelope"></span> SimplyCooking@gmal.com
  




    </p>
</body>
</html>
