@{
    ViewBag.Title = "Strona Główna";
}

<div class="jumbotron">
    <h1>Simply Cooking</h1>
    <p class="lead">Nasza aplikacja pomoże ci podjąc decyzje co chcesz ugotowac</p>
   @* <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>


<div>  
    <div class="lista">
        @model IEnumerable<SimplyCooking.Models.Recipe>

        <input type="button" class="btn btn-toolbar" value="Lista przepisów" onclick="location.href='@Url.Action("index" , "recipes")'" />
        <ul class="list-group">

            @foreach (var item in Model)
        {

            int a = item.RecipeID;
            string poczatek = "~/recipes/Details/";
            string myString = a.ToString();
            var id = @Html.DisplayFor(ModelItem => item.Name);
            poczatek = poczatek + myString;

            <a href=@Url.Content(poczatek) class="=list-group-item list-group-item-action">

                <li class="list-group-item list-group-item-action"> @Html.DisplayFor(modelItem => item.Name)</li>
            </a>

    }


            </div">
    </div>