@{
    ViewBag.Title = "Strona Główna";
}

<div class="jumbotron">
    <h1>Simply Cooking</h1>
    <p class="lead">Nasza aplikacja pomoże ci podjąc decyzje co chcesz ugotowac</p>
    @* <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>


<<<<<<< HEAD
<<div class="dodaj">
    <img src="http://www.zdrowawagaklub.pl/theme/images/dodaj_przepis.png" onclick="location.href='@Url.Action("Create", "Recipes")'" />
=======
>>>>>>> d676cb477be8a2ea2d3808fdf82e676d39339569

    <div class="container">


        <div class="card" style="width: 18rem; ">
            <img class="card-img-top" src="http://www.zdrowawagaklub.pl/theme/images/dodaj_przepis.png" alt="Dodaj nowy przepis">
            <div class="card-body">
                <h5 class="card-title">Dodaj nowy przepis</h5>
                <p class="card-text">Jeśli chesz się podzielić swoim wyjątkowym przepisem kliknij poniższy przycisk</p>
                <a href='@Url.Action("Create", "Recipes")' class="btn btn-primary">Dodaj swój przepis</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; ">
            <img class="card-img-top" src="https://i1.wp.com/worqshop.pl/wp-content/uploads/2017/10/planowanie-posilkow-frisco-jak-planowac-posilki-planer-pelen-czasu-4.jpg?resize=800%2C562" alt="Lista przepisów">
            <div class="card-body">
                <h5 class="card-title">Dodaj nowy przepis</h5>
                <p class="card-text">Pokaż wszystkie przepisy</p>
                <a href='@Url.Action("index" , "recipes")' class="btn btn-primary">Wyświetl  liste </a>
            </div>
        </div>

        <div class="card" style="width: 18rem; float:left;">
            <img class="card-img-top" src="http://cdn14.beszamel.smcloud.net/t/thumbs/660/441/1/user_photos/jajka-shutterstock_218960713.jpg" alt="Obrazek śniadaniowy">
            <div class="card-body">
                <h5 class="card-title">Śniadanie</h5>
                <p class="card-text">Dostępne dania na śniadanie.</p>
                <a href="#" class="btn btn-primary">Zobacz je!</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://s3.przepisy.pl/przepisy3ii/img/variants/535x0/kotleciki-wieprzowe-z-grzybami.jpg" alt="Obrazek obiadowy">
            <div class="card-body">
                <h5 class="card-title">Obiad</h5>
                <p class="card-text">Dostępne dania na obiad.</p>
                <a href="#" class="btn btn-primary">Zobacz je!</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="http://zabieganamama.com/wp-content/uploads/2015/01/a20150131_1924310.jpg" alt="Obrazek na kolacje">
            <div class="card-body">
                <h5 class="card-title">Kolacja</h5>
                <p class="card-text">Dostępne dania na kolacje.</p>
                <a href="#" class="btn btn-primary">Zobacz je!</a>
            </div>
        </div>


<<<<<<< HEAD
<div class="lista">
    <img src="przepis.png;" onclick="location.href='@Url.Action("index" , "recipes")'" />
</div>
=======
    </div>
>>>>>>> d676cb477be8a2ea2d3808fdf82e676d39339569

<div style="clear:both"></div>