@{
    ViewBag.Title = "Strona Główna";
}

<div class="jumbotron">
    <h1>Simply Cooking</h1>
    <p class="lead">Nasza aplikacja pomoże ci podjąc decyzje co chcesz ugotowac</p>
    @* <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>


<<div class="dodaj">
    <img src="http://www.zdrowawagaklub.pl/theme/images/dodaj_przepis.png" onclick="location.href='@Url.Action("Create", "Recipes")'" />

</div>

<div class="lista">
    <img src="przepis.png;" onclick="location.href='@Url.Action("index" , "recipes")'" />
</div>

<div style="clear:both"></div>